<header>
  <h1>Movie Time</h1>
  <a href="/">&larr; Back to Search</a>
</header>


<i class="fa fa-spin fa-cog" ng-if="!movie"></i>

<div class="container m-movie" ng-cloak ng-if="movie">
  <div class="row">
    <div class="col-sm-4">
      <img ng-src="{{::movie.Poster}}" ng-if="movie.Poster"/>
      <img src="http://img.pandawhale.com/post-48972-LOST-Jin-thumbs-up-gif-Imgur-5CUP.gif" ng-if="!movie.Poster" />
    </div>
    <div class="col-sm-8">
      <h1>
        {{::movie.Title}}
        <small>
          <span ng-hide="{{!movie.Rated}}">
            Rated {{::movie.Rated}}
          </span>
          <span ng-hide="{{!movie.Year}}">
            Released {{::movie.Year}}
          </span>
          <span ng-hide="{{!movie.imdbRating}}">
            IMDB: {{::movie.imdbRating}} ({{::movie.imdbVotes}} votes)
          </span>
        </small>
      </h1>

      <p>
        {{::movie.Genre}}
      </p>
      <p>
        {{::movie.Plot}}
      </p>

      <dl>
        <dt ng-hide="{{!movie.Actors}}">Starring</dt>
        <dd ng-hide="{{!movie.Actors}}">{{::movie.Actors}}</dd>
        <dt ng-hide="{{!movie.Writer}}">Written by</dt>
        <dd ng-hide="{{!movie.Writer}}">{{::movie.Writer}}</dd>
        <dt ng-hide="{{!movie.Director}}">Directed by</dt>
        <dd ng-hide="{{!movie.Director}}">{{::movie.Director}}</dd>
        <dt ng-hide="{{!movie.Awards}}">Awards</dt>
        <dd ng-hide="{{!movie.Awards}}">{{::movie.Awards}}</dd>
      </dl>
    </div>
  </div>
</div>
