<header>
  <h1>Movie Time</h1>
</header>

<div class="container" ng-controller="MovieSearchCtrl">
  <div class="row">
    <section class="col-sm-12">
      <input type="text" ng-model="q" placeholder="Search a movie title..." class="form-control" />

      <div class="alert alert-danger" ng-show="{{error}}">{{error}}</div>
    </section>

    <section class="col-sm-8">
      <div ng-repeat="movie in movies" class="movie-result">
        <a ng-click="saveSearch()" ng-href="/movies/{{movie.imdbID}}">
          {{movie.Title}} ({{movie.Year}})
        </a>
      </div>
    </section>

    <section class="col-sm-4" ng-show="searches.length">
      <h3>Search History</h3>
      <div ng-repeat="oldSearch in searches">
        <a ng-click="search(oldSearch)">
          {{::oldSearch}}
        </a>
      </div>
      <a class="btn btn-default" ng-click="clearSearches()">Clear Search History</a>
    </section>
  </div>
</div>
